<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        
        <!-- Page specific CSS goes here -->
        <link rel="stylesheet" href="../css/mainpage.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container-fluid">
          <h2>Movies In Theaters</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="theaterMovieList" class="row">
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <h2>News</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <span class="newsLink"><a href="#">News Link</a></span>
              <span class="newsLink"><a href="#">News Link</a></span>
              <span class="newsLink"><a href="#">News Link</a></span>
              <span class="newsLink"><a href="#">News Link</a></span>
            </div>
          </div>

          <h2>Movies Coming Soon</h2>
          <div class="panel panel-default">
            <div class="panel-body">
              <div id="comingMovieList" class="row">
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
