<div class="container-fluid">
  <h2>Movies In Theaters</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="theaterMovieList" class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <h2>News</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="newsLink"><a href="#">News Link</a></span>
      <span class="newsLink"><a href="#">News Link</a></span>
      <span class="newsLink"><a href="#">News Link</a></span>
      <span class="newsLink"><a href="#">News Link</a></span>
    </div>
  </div>

  <h2>Movies Coming Soon</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="comingMovieList" class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="#" class="thumbnail">
            <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
            <span class="movieTitle">Movie Name</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>