<!doctype html>
<html>	
 <head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Movies</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="apple-touch-icon" href="apple-touch-icon.png">
   <!-- Place favicon.ico in the root directory -->

   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/main.css">
   <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
        
   <link rel="stylesheet" href="../css/header.css">
        
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../css/bootstrap.css">
   <style>
        .mySlides {display:none;}
        #underside {background-color: gray;}
    </style> 
        
 </head>
 <body>
     <!--title-->
    <div class="container">
	 <h1 class="">MOVIES NOW PLAYING</h1>
    </div>
    <!--nav-->
    
    <div class="container-fluid">
	  <nav class="navbar navbar-default">
	   <div class="container">
	   <ul class="nav navbar-nav">
	    <li><a href="">NOW PLAYING</a></li>
	    <li><a href="">COMING SOON</a></li>
	    <li><a href="">MOVIE GENRES</a></li>
            <li><a href="">TOP BOX OFFICE</a></li>
            <li><a href="">AT HOME</a></li>	    
	   </ul>
	   </div>
	  </nav>
    </div>
    <!--genres-->
    <div class="container">
    <div class="container-fluid">
    <div class="">
          <p>FILTER BY MOVIE GENRES</p>
    
    <!-- genres btn-->
    <ul class="nav navbar-nav">
        <li><button type="button" class="btn btn-default">ACTION</button></li>
        <li><button type="button" class="btn btn-default">DRAMA</button></li>
        <li><button type="button" class="btn btn-default">COMEDY</button></li>
        <li><button type="button" class="btn btn-default">KIDS</button></li>
        <li><button type="button" class="btn btn-default">HORROR</button></li>
        
    </ul>
    </div>
    </div>
    </div>
    <!--section 1-->
    <div class="container">
    <div class="container-fluid">
          <h3>OPENING THIS WEEK</h3>
    <div class="panel panel-default">
            <div class="panel-body">
              <div id="theaterMovieList" class="row">
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
    <!--section 2-->
    <div class="container">
    <div class="container-fluid">
          <h3>NOW PLAYING</h3>
    <div class="panel panel-default">
            <div class="panel-body">
              <div id="theaterMovieList" class="row">
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <a href="#" class="thumbnail">
                    <img class="moviePoster img-responsive" src="http://placehold.it/270x400" alt="">
                    <span class="movieTitle">Movie Name</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
    <!--bottom1-->
    <div id="underside">
<div class="container">
     <div class="well well-lg col-sm-12">    
              <div id="theaterMovieList" class="row">
                <div class="col-xs-6 col-sm-3">
                    <p>EXPERIENCE+EXPLORE </p>
                    
                        <p><a href="">Movies In Theaters</a></p>
                        <p><a href="">Movie Actors and Actresses</a></p>
                        <p><a href="">Mobile</a></p>
                        <p><a href="">New DVD Releases</a></p>
                        <p><a href="">Special Offers</a></p>   
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p>EXPERIENCE+EXPLORE </p>
                    
                        <p><a href="">Movies In Theaters</a></p>
                        <p><a href="">Movie Actors and Actresses</a></p>
                        <p><a href="">Mobile</a></p>
                        <p><a href="">New DVD Releases</a></p>
                        <p><a href="">Special Offers</a></p>   
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p>EXPERIENCE+EXPLORE </p>
                    
                        <p><a href="">Movies In Theaters</a></p>
                        <p><a href="">Movie Actors and Actresses</a></p>
                        <p><a href="">Mobile</a></p>
                        <p><a href="">New DVD Releases</a></p>
                        <p><a href="">Special Offers</a></p>   
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p>EXPERIENCE+EXPLORE </p>
                    
                        <p><a href="">Movies In Theaters</a></p>
                        <p><a href="">Movie Actors and Actresses</a></p>
                        <p><a href="">Mobile</a></p>
                        <p><a href="">New DVD Releases</a></p>
                        <p><a href="">Special Offers</a></p>   
                </div>
                  
        </div>
     </div>
    </div>
</div>
     <!-- Bootstrap -->
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
 </body>
 </html>