<!doctype html>
<html class="no-js" lang="">	
 <head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="apple-touch-icon" href="apple-touch-icon.png">
   <!-- Place favicon.ico in the root directory -->

   <link rel="stylesheet" href="../css/normalize.css">
   <link rel="stylesheet" href="../css/main.css">
   <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
        
   <link rel="stylesheet" href="../css/header.css">
        
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../css/bootstrap.css">
        
 </head>
 <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<div class="container">
	 <h1 class="">Fandango</h2>
	</div>
	<div class="container-fluid">
	  <nav class="navbar navbar-default">
	   <div class="container">
	   <ul class="nav navbar-nav">
	    <li><a href="">Home</a></li>
	    <li><a href="">Fandango</a></li>
	    <li><a href="">Rotten Tomatoes</a></li>
	    
	   </ul>
	   <ul class="nav navbar-nav navbar-right">
		  <li><a href="">Sign In</a></li>
		  <li><a href="">Register</a></li>
	   </ul>
	   </div>
	  </nav>
	</div>
	<div class="container">
		<h3><strong>Register for an account</strong></h3>
		<div class="well well-lg col-sm-8">
		 
		 <br>
		 <form>
		  
		  <label for="firstName">First Name</label>
		  <br>
		  <input type="text" class="" id="firstNameInput">
		  <br><br>
		  <label for="displayname">Display Name</label> 
		  <br>
		  <small id="displaynameHelp" class="form-text text-muted">This is the name which other users will see</small>
		  <br>
		  <input type="text" class="" id="displaynameInput">
		  <br><br>
		  <label for="email">Email</label>
		  <br>
		  <small id="emailHelp" class="form-text text-muted">A validation E-mail will be sent to this address. Validation is required to complete registration.</small>
		  <br>
		  <input type="email" class="" id="emailInput">
		  <br><br>
		  <label for="confirmEmail">Confirm E-mail</label>
		  <br>
		  <small id="confirmEmailHelp" class="form-text text-muted">Please re-enter your e-mail address.</small>
		  <br>
		  <input type="email" class="" id="confirmEmailInput">
		  <br><br>
		  <label for="password">New Password</label>
		  <br>
		  <small id="passwordHelp" class="form-text text-muted">Passwords must be at least six characters and no longer than ten</small>
		  <br>
		  <input type="password" class="" id="passwordInput">
		  <br><br>
		  <label for="confirmPassword">Repeat New Password</label>
		  <br>
		  <input type="password" class="" id="confirmPasswordInput">
		  <br><br>
		  <button type="button" class="btn btn-primary">Register</button>
		 </form>
		</div>
	</div>
	<!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
 </body>
</html>